:root {
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #507515;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #507515;
    --color-primary-disabled: #3b5710;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    align-items: center;
    height: 4rem;

    background-color: var(--color-primary);
    color: var(--color-on-primary);

    padding: 0 2rem; 
}

header .logo {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

header .nav {
    display: flex;
    align-items: center;
    flex: 1;
}

main {
    flex: 1;

    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(16rem, 1fr);
    column-gap: 2rem;

    padding: 2rem;   /* spacing without shrinking width */
    width: 100%;
    box-sizing: border-box;

    background-color: var(--color-background);
    color: var(--color-on-background);

    min-height: 0;
}

main > div {
    min-height: 0;
    height: 100%;
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
