:root {
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #507515;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #507515;
    --color-primary-disabled: #3b5710;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header,
main {
    background-color: var(--color-background);
    color: var(--color-on-background);
}

header {
    display: flex;
    padding-inline: calc(25vw - 10rem);
    height: 4rem;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

@media screen and (min-width: 1366px) {
    header {
        display: grid;
        padding-inline: 0;
    }
}

header .logo {
    justify-self: end;
    align-self: center;
    display: flex;
    align-items: flex-end;
    gap: 1rem;
}
header .nav { flex: 1; }

main {
    display: grid;
    flex: 1;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(16rem, 1fr);
    column-gap: 2rem;
    min-height: 0;
}

main > div {
    min-height: 0;
    height: 100%;
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

/* Inputs, checkboxes */
input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
