:root {
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #507515;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

main.dark,
header.dark {
    color-scheme: dark;
    --color-background: #1c1b1f;
    --color-on-background: white;
    --color-background-hover: #27262c;
    --color-on-background-hover: white;
    --color-primary: #507515;
    --color-primary-disabled: #3b5710;
    --color-on-primary: white;
    --color-error: #de0000;
    --color-on-error: white;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    width: 100%;
    background-color: var(--color-primary);
    color: var(--color-on-primary);
}

header .nav {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 24px;
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* Remove the cursed grid override */
@media screen and (min-width: 1366px) {
    header {
        display: block;
    }
}

main {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(16rem, 1fr) minmax(16rem, 2fr) minmax(16rem, 1fr);
    column-gap: 2rem;

    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 2rem 24px;

    min-height: 0;
}

main > div {
    min-height: 0;
    height: 100%;
    overflow-y: auto;
}

.spinner {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 3;
}

/* Inputs */
input[type="checkbox"] {
    height: 1.25rem;
    width: 1.25rem;
    cursor: pointer;
    margin: 0;
}
